<div class="about">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget velit non erat dictum viverra. Vestibulum porta nec neque eget malesuada. Proin eu magna est. Etiam a tellus quis magna dictum viverra. Vestibulum vulputate iaculis volutpat. Morbi scelerisque sem sagittis tellus egestas, id blandit est fringilla. Etiam facilisis nunc in lorem molestie auctor. Donec dapibus at risus sed luctus. Nulla in tincidunt purus. Vivamus tempus efficitur imperdiet. In quis dictum metus. Sed aliquam velit ac justo vulputate, id porttitor ipsum vestibulum.
        Suspendisse luctus velit eget lacus tincidunt fermentum.</p>
</div>

<style>
    .about {
        width: 35%;
        margin: 25px 100px;
        color: white;
        background-color: black;
        font-weight: 800;
    }
</style>