<div id="hook" class="hook">
    <div id="text">
        <h1>Top Shelf Chauffeur</h1>
        <p>We provide you with an experience to remember... not just transportation! At TSC our professional our professional chauffeur's are here to assist with anything and everything. Our 24/7 service insures we always have you covered no matter the occasion.</p>
    </div>
</div>

<style>
    .hook {
        background-image: url('/Escalade.jpg');
        background-size: cover;
        min-height: 100vh;
        padding: 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #text {
        margin: 0 auto;
        padding: 25px;
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: black;
        background-color: rgba(255,255,255,0.8);
        border-radius: 25px;
    }

    .hook h1 {
        margin: 0 auto;
        margin-bottom: 25px;
        width: 80%;
        height: auto;
        font-size: 5rem;
    }

    .hook p {
        margin: 25px auto 0;
        width: 80%;
        font-size: 2rem;
    }

    @media(max-width: 650px) {
        .hook h1 {
            margin-bottom: 0;
            font-size: 4rem;
        }

        .hook p {
            padding: 0 auto;
            font-size: 1.5rem;
        }
    }

    @media(max-width: 970px) {
        #text {
            margin-top: 10vh;
        }

        #text h1, #text p {
            width: 95%;
        }
    }
</style>