<div class="background">
    <div id="airport-container" class="option-panel">
        <h1 class="option-header">Airport Transportation</h1>
        <p class="option-paragraph">Remove the stress of driving, parking, traffic, etc. Our chauffers are much more than just drivers & will take care of all baggage and anything else needed.<br /><span>*Anywhere in Houston to any airport in Houston.</span></p>
        <div class="button-container">
            <button class="option-button">
                <a class="option-link" href="/airport">Book</a>
            </button>
        </div>
    </div>
    <div id="intown-container" class="option-panel">
        <h1 class="option-header">Service in Houston</h1>
        <p class="option-paragraph">From leaving a lasting impression to reducing the stress of transportation or even an experience to remember forever, we got you covered! Birthdays, weddings, date nights, party nights, business errands, funerals, shopping, YOU NAME IT!</p>
        <div class="button-container">
            <button class="option-button">
                <a class="option-link" href="/intown">Book</a>
            </button>
        </div>
    </div>
    <div id="outoftown-container" class="option-panel">
        <h1 class="option-header">Service Out of Town/State</h1>
        <p class="option-paragraph">Road trips, family vacations, business travel, anything you can may need out of town we will make it happen!</p>
        <div class="button-container">
            <button class="option-button">
                <a class="option-link" href="/outoftown">Book</a>
            </button>
        </div>
    </div>

</div>

<style>
    .background {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-image: url('src/images/DSC_0345.JPG');
        background-position: center;
        background-size: cover;
    }

    .option-panel {
        overflow: hidden;
        margin: calc(25vh - 25px) 50px calc(15vh - 25px) 50px;
        padding: 25px;
        width: 350px;
        height: 516px;
        background-color: rgba(255,255,255,0.8);
        border-radius: 25px;
        text-align: center;
    }

    .option-header {
        margin-bottom: 30px;
    }

    .option-paragraph {
        font-size: 1.5rem;
    }

    span {
        font-weight: 800;
    }

    .button-container {
        width: 100%;
        height: calc(100% - 40vh - 50px);
        position: relative;
    }

    .option-button {
        width: 40%;
        height: 60px;
        color: white;
        background-color: black;
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
        padding: 7px;
        position: absolute;
        top: 40%;
        left: 30%;
    }

    #intown-container div{
        height: calc(100% - 40vh);
    }

    #intown-container button{
        top: 35%;
    }

    #outoftown-container .button-container {
        height: 100%;
    }

    #outoftown-container button {
        top: 35%;
    }

    a, a:visited, a:link {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 800;
    }

</style>