<div class="background">
    <div id="airport-container" class="option-panel">
        <h1 class="option-header">Airport Transportation</h1>
        <p class="option-paragraph">Remove the stress of driving, parking, traffic, etc. Our chauffers are much more than just drivers & will take care of all baggage and anything else needed.</p>
        <div class="button-container">
            <button class="option-button">
                <a class="option-link" href="/airport">Book</a>
            </button>
        </div>
    </div>
    <div id="intown-container" class="option-panel">
        <h1 class="option-header">Service in Houston</h1>
        <p class="option-paragraph">From leaving a lasting impression to reducing the stress of transportation or even an experience to remember forever, we got you covered!</p>
        <div class="button-container">
            <button class="option-button">
                <a class="option-link" href="/intown">Book</a>
            </button>
        </div>
    </div>
    <div id="outoftown-container" class="option-panel">
        <h1 class="option-header">Service Out of Town/State</h1>
        <p class="option-paragraph">Road trips, family vacations, business travel, anything you may need to travel for we will make it happen!</p>
        <div class="button-container">
            <button class="option-button">
                <a class="option-link" href="/outoftown">Book</a>
            </button>
        </div>
    </div>

</div>

<style>
    .background {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-image: url('/DSC_0345.JPG');
        background-position: center;
        background-size: cover;
    }

    .option-panel {
        overflow: hidden;
        margin: calc(25vh - 25px) 50px calc(15vh - 25px) 50px;
        padding: 25px;
        width: 350px;
        height: 516px;
        background-color: rgba(255,255,255,0.8);
        border-radius: 25px;
        text-align: center;
    }

    .option-header {
        font-size: 2.5rem;
        margin-bottom: 30px;
        background-color: transparent;
    }

    .option-paragraph {
        font-size: 1.5rem;
        background-color: transparent;
    }

    span {
        font-weight: 800;
        background-color: transparent;
    }

    .button-container {
        width: 100%;
        height:  calc(100% - 40vh - 50px);
        position: relative;
        background-color: transparent;
    }

    .option-button {
        width: 40%;
        height: 60px;
        color: white;
        background-color: black;
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
        padding: 7px;
        position: absolute;
        bottom: 2rem;
        top: 20%;
        left: 30%;
    }

    a, a:visited, a:link {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 800;
    }

    #airport-container .button-container {
        height: 90%;
    }

    #intown-container .button-container {
        height: 100%;
    }

    #intown-container button{
        top: 18%;     
    }

    #outoftown-container .button-container {
        height: 100%;
    }

    #outoftown-container button{
        top: 30%;     
    }

    @media(max-width: 550px) {
        .option-panel {
            height: 400px;
        }

        .option-header {
            font-size: 1.5rem;
        }

        .option-paragraph {
            font-size: 1rem;
        }

        #airport-container .button-container {
            height: 90%;
        }

        #airport-container button{
            top: 25%;
        }

        #intown-container div{
            height: calc(100% - 40vh);
        }

        #intown-container .button-container {
            height: 100%;
        }

        #intown-container button{
            top: 30%;
        
        }
    }

</style>